[2019-02-24 03:34] albeethekid opened #1 "How to pass in multiple values for a single argument"
Hi there, could someone please tell me how to use this library to make the follow query?

[code]

[2019-03-01 15:58] mghoneimy commented on #1
Hello,
I have been working on a couple of new features over the past week, one of them is to enable array and object filters. I'm merging these features tonight, will update you on how to do this as soon as that's done.

[2019-03-02 14:22] mghoneimy commented on #1
@albeethekid That's how you can pass multiple values for a single argument:
$query = (new Query('nodes'))
    ->setArguments(['gid' => ['gid://shopify/Product/123', 'gid://shopify/Product/456']])
    );

Please refer to the update README for more:
https://github.com/mghoneimy/php-graphql-client#query-example-query-with-array-argument

[2019-03-02 14:22] #1 closed

[2019-03-06 18:18] albeethekid commented on #1
Really appreciate you adding that feature so quickly. And thank you for creating this library!

[2019-05-06 10:26] marvinrabe opened #3 "Bug: Strings are not escaped"
When passing strings as attributes to a Query the resulting strings in the gql are not escaped.

    (new Query('users'))->setArguments(['name' => 'Lester "Lessie" McMillian'])

Currently:

    query {users(name: "Lester "Lessie" McMillian") {}}

Expected:

    query {users(name: "Lester \"Lessie\" McMillian") {}}

Test:

    public function testItEscapesStringArguments()
    {
        $result = (

[2019-05-06 11:31] mghoneimy commented on #3
@marvinrabe Thank you for finding this! Would you like to pull-request-it or can you wait until I can work on it when I can allocate time?

[2019-05-07 22:10] mghoneimy commented on #3
Issue has been fixed in version 1.1.1 release

[2019-05-07 22:10] #3 closed

[2019-06-07 17:05] juanitourquiza opened #4 "How to use a token"
I need to use a verification token, where that value goes?
[code]

[2019-06-08 17:14] mghoneimy commented on #4
@juanitourquiza just add a new element to the empty array where the key of the element is the header name for the verification token and the value is the verification token itself.

Example:
[code]

[2019-06-08 17:14] #4 closed

[2019-06-24 16:17] juanitourquiza opened #5 "Error mutation: Syntax Error: Expected :, found !"
I'm using the example for my code but it shows me this error. What is the problem?

[code]
This is the error:
Syntax Error: Expected :, found !

![image](https://user-images.githubusercontent.com/332299/60035059-94987100-9671-11e9-9361-768f9094e05d.png)

[2019-06-24 22:35] mghoneimy commented on #5
@juanitourquiza You cannot have this 'OBT_MOTIVOS_VIAJEEntry!' as an argument name. GraphQL standards specify that an argument is made up of a Name and Value https://graphql.github.io/graphql-spec/June2018/#Argument, where name can only have alphanumeric characters https://graphql.github.io/graphql-spec/June2018/#Name.

The '!' used in type definitions in GraphQL types simply means that this argum

[2019-06-25 01:51] juanitourquiza commented on #5
Ok. Thanks for your explication. I use this code in GraphQL:
[code]
Query variables:
[code]
This work for me .... This is the reason for my confussion.
Now I'm going to try what you tell me

[2019-06-25 10:46] mghoneimy commented on #5
@juanitourquiza Now I understand why you're having the problem. $input here is a GraphQL "variable" and not an argument value in itself. It's being passed as an argument to the createOBT_MOTIVO_VIAJE mutation.

Currently this package does not support using variables. You can submit this as a feature request though and start working on it as soon as I can.

You can read more about variables and arg

[2019-06-25 13:42] juanitourquiza commented on #5
Well, thanks for your response. Perhaps the library will be improved

[2019-06-25 17:34] mghoneimy commented on #5
I will close this issue as a question. Please open a new issue for adding support for variables in this library and will work on it as soon as I can.

[2019-06-25 17:34] #5 closed

[2019-07-15 01:52] kitbs opened #6 "Are interfaces possible?"
Is it possible to use interfaces with this library? For example the `... on Tree` syntax in the following snippet from the GitHub API:

[code]

Thanks for a really useful package!

[2019-07-18 20:55] hhdivil opened #7 "Variables"
Hi, thanks for the library.  Great so far.  I was just wondering if you have plans to add support for variables in the future?

https://graphql.org/learn/queries/#variables

[2019-07-19 06:08] mghoneimy commented on #7
Hello @hhdivil , I'm currently working on adding variables support. Should be released by the end of the weekend/early next week.

[2019-07-19 06:12] mghoneimy commented on #6
@kitbs not yet, I'm planning to work on that right after adding support for variables. Should take 2-3 weeks to get this done given my current schedule.

[2019-07-23 23:33] mghoneimy commented on #7
@hhdivil v1.2 has just been released adding support for variables in queries and mutations.

[2019-07-23 23:33] #7 closed

[2019-07-23 23:33] mghoneimy commented on #5
@juanitourquiza v1.2 has just been released adding support for variables in queries and mutations. Hope this solves your problems!

[2019-08-01 17:05] AndoniLarz opened #8 "'query' keyword automtically set at the beginning of the query string"
Hi, I'm working on calling a GraphQL API and I found this package was very useful, thanks for making it !

However, I encountered a little problem :
It seems like the query is automatically completed with a `query` keyword at the beginning of my query string as in this snippet :
`query {
content {
product(id: xx) {
id
}
}
}
`
Is it because of some GraphQL rule ?
In fact it blocks me from calling t

[2019-08-01 19:48] mghoneimy commented on #8
Hello @AndoniLarz , first of all, glad that my package was of help to you :)

As for you question, let me answer it in 2 parts.
First of all, GraphQL supports two main types of operations that serve as an "entry point" to the graph. Each request to a GraphQL server represents an "operation", and this operation has a type, which in the case of a query would be "query" and in the case of mutation wo

[2019-08-01 21:04] AndoniLarz commented on #8
Thank you for this fast answer and all the explanations ! As you may have noticed I'm not very familiar with GraphQL, so I didn't know where to look at to find an RFC-like document as you provided.
I'll look into it tomorrow at work, but I guess the API should be implemented following those standards.

I'll keep you updated as soon as I have more info !

[2019-08-01 22:09] mghoneimy commented on #8
Sounds great!

[2019-08-02 09:25] AndoniLarz commented on #8
Okay so I figured out what the problem was :
I am calling the GraphQL API in order to check if an entity already exists in the DB. Logically, when it doesn't exist, the API returns an `errors` block that explains the error and a `data` block that contains an array with only one `null` value.

I needed to get the `data` block, so I added a $data member and a getData method to be able to get this bl

[2019-08-02 09:46] AndoniLarz commented on #8
Here it is : https://github.com/mghoneimy/php-graphql-client/pull/9

[2019-08-02 12:57] mghoneimy commented on #8
@AndoniLarz
Hmmm I understand what you want to do now, but I thought no one would want to retrieve the `data` when `errors` are returned. I supported this implementation assumption by the fact that `data` key _should_ be `null` when `errors` are set and nobody would be interested in retrieving this `null` value.

This is how it is stated by the GraphQL spec at https://graphql.github.io/graphql-spe

[2019-08-02 15:11] AndoniLarz commented on #8
@mghoneimy Ok I understand your point, which is totally valid, but apart from my own interest I found that the `data` key may not be `null` in some cases, as shown here : https://graphql.github.io/graphql-spec/June2018/#example-90475
So it can be useful to retrieve this part of the response anyways.

As of my case of getting `data` even if it's `null` : it was a total misuse since I should parse t

[2019-08-02 15:45] mghoneimy commented on #8
@AndoniLarz I think that you have a valid caze with that example, although I haven't actually come across an API that exhibits this behavior yet.

Let's work on finalizing this pull request to merge and release it.

[2019-08-11 22:16] mghoneimy commented on #6
@kitbs Support for line fragments has been released today on v1.3
https://github.com/mghoneimy/php-graphql-client/releases/tag/v1.3

You can checkout examples on how to use it here as well:
https://github.com/mghoneimy/php-graphql-client#using-interfaces-query-with-inline-fragments

[2019-08-11 22:16] #6 closed

[2019-08-22 08:42] rembertin opened #11 "Incorrect return type hint in GraphQL\Client::runQuery and GraphQL\Client::runRawQuery"
Hello,

I've found a little issue in your code : the methods `GraphQL\Client::runQuery` and `GraphQL\Client::runRawQuery` are type-hinted `?Results`, so they are supposed to return a `GraphQL\Results` or `null`, but in fact these methods can't return `null` (or I'm missing a point).
Is it possible to change the return type-hint to simply `Results` ?

Thanks and congrats for your awesome job!

[2019-08-24 11:24] mghoneimy commented on #11
@rembertin You're actually right, I probably changed the implementation but forgot the type hint. I'll make sure to include this in the next release.

Thanks man, please :star: the repo if you found it useful :smile:

[2019-08-30 07:41] Zaboday opened #13 "Arguments contructor do not handle nulled arguments"
Hello!

When I am trying create Mutation with argument value `null`, Query::constructArguments() makes empty value string in query.

For example arguments: `['foo' => 1, 'bar' => null, 'some' => '1']`
Result: `(foo: 1 bar:  some: "1")` instead of `(foo: 1 bar: null  some: "1")`

It is becouse `null` is not sclar, and `constructArguments()` makes simple type conversion `null` to `string`.

Thank Gu

[2019-08-30 19:15] mghoneimy commented on #13
@Zaboday Oops, I will make sure I fix this by EOD tomorrow. It should be an easy fix! Please :star: the repo if you found useful in your work.
Thank you! :smile:

[2019-08-31 20:36] mghoneimy commented on #13
Fix deployed in release 1.3.1

[2019-08-31 20:36] #13 closed

[2019-08-31 20:36] mghoneimy commented on #11
Issue fixed in release 1.3.1

[2019-08-31 20:36] #11 closed

[2019-09-21 16:34] mghoneimy opened #17 "Add support for selection set fields aliases and arguments in QueryBuilder"
QueryBuilder does not provide the ability to select fields with alias names nor to provide argument lists for selected fields.
We need to add support for both, which will make the package more powerful and empower future features in https://github.com/mghoneimy/php-graphql-oqm package.

[2019-10-07 19:19] avfigueredo opened #18 "Consuming Api with pagination"
Hi, there's a way or example of how i can consume a api graphql where there is pagination?

I'm trying consuming this news api:

[code]

I tried this examples, but doesn't works. Can you me give a help?

[code]

[code]

Tks!

[2019-10-14 16:48] mohamed-anwar opened #19 "Please bump the version up when making breaking changes"

[2019-10-14 17:06] #19 closed

[2019-10-24 08:07] jbalbert opened #20 "Do you support Enum Types?"
Hello,

I am currently using this package and currently trying to connect to a graphQL client.

I have this setArguments which the types is in ENUM. below:

 ->setArguments([ 'types' => 'GENERAL', 'languages' => ["en"]])

I tried to sent the request to the graphQl client but I always get this message.

"message": "Expected type DescriptionType!, found \\\"GENERAL\\\". Did you mean the enum value G

[2019-10-24 09:05] mghoneimy commented on #20
Hello @jbalbert , I will look into this tomorrow and provide you with an example.

[2019-10-24 09:36] jbalbert commented on #20
Hi @mghoneimy , Thank you very much for your response that would be a really big help.

[2019-10-25 15:32] mghoneimy commented on #20
@jbalbert Generally, to write raw text in the query (an example would be a non-string ENUM type, or an input object) you would use the RawObject class provided in this library. Here's your example:
```->setArguments([ 'types' => new RawObject('GENERAL'), 'languages' => ["en"]])```

Hope this helps :)

[2019-10-25 15:39] mghoneimy commented on #18
hi @avfigueredo
Typically, GraphQL API's provide arguments for the fields which allows you to control the page being loaded for that field. Usually the names of these arguments are "first" and "offset" which allow you to control the offset you want to start loading from the how many items you want to load starting from there.

Please refer tot he GraphQL manual for more info about arguments:
https

[2019-10-25 15:46] mghoneimy commented on #19
@mohamed-anwar There shouldn't be any breaking changes since version 1.0 was released. Please specify which change do you mean in this issue.
Thank you.

[2019-10-28 08:25] jbalbert commented on #20
Hello @mghoneimy ,

I just tested it and it now works.

Thanks for your help! :)

[2019-10-28 10:19] #20 closed

[2019-10-28 10:20] #18 closed

[2019-10-30 02:06] jbalbert opened #21 "No Mutation and Query Builder Class for lower versions"
Hello @mghoneimy ,

I just want to know why there are no Mutation Class and Query Builder in the lower version
of this package?

Currently, when we require this package via composer the below version is the one that we
are using since we are using php version 7.0..

"gmostafa/php-graphql-client": "^0.3.5"

When we tried using query builder and mutation it always say Mutation and Query Builder clas

[2019-10-31 04:06] jbalbert commented on #21
Hello @mghoneimy,

May I ask any update about this?

Thank you!

[2019-11-01 22:13] mghoneimy commented on #21
@jbalbert The `Mutation` and `QueryBuilder` classes were only added in higher versions of this package as you might have noticed, PHP7.1+. There's no way you can get access to these features without upgrading your PHP version to at least 7.1. PHP7.0 went out of support at the beginning of this year and no new features will be added using it.

[2019-11-05 10:06] mschop opened #22 "Client constructor and documentation mismatch"
Hi all,

in the REAME.md in the chapter `Constructing The Client` is written the following:

With the following sample code:

[code]

But that does not match the actual constructor of the class which look like this:

[code]

There is no third constructor parameter. There is nothing passed to guzzle. Is the class constructor wrong or is the documentation outdated/incorrect?

Thanks right now.

[2019-11-05 11:23] mghoneimy commented on #22
Hi @mschop ,
You're right there's a mismatch because the latest version hasn't been released. No tag has been created for version `1.4` yet its code is shown on master. I will release this immediately!
Thank you for pointing this out

[2019-11-05 11:32] mghoneimy commented on #22
@mschop  Problem should be fixed now. Please try installing `v1.4` and let me know if you still have any issues. :smile:

[2019-11-06 13:28] #22 closed

[2019-11-06 13:28] #21 closed

[2019-12-05 13:08] dankostov opened #25 "QueryBuilder issue when having array or nested where clause."
I am using your plugin to query graphql api and i can't find a way to pass array of strings as argument using QueryBuilder and RawObject.

[code]

The result is returned without the filtering, it's just that this particular "where" filter is not taken in mind. The graphql query get constructed correctly, however the where filtering doesn't work when it's executed from the $client. If i execute it

[2019-12-07 22:29] mghoneimy commented on #25
Hi @dankostov ,
I will look into this Tuesday
Thank you!

[2019-12-16 10:00] dankostov commented on #25
Hi @mghoneimy did you had the chance to look into this?

Thanks,
Dan

[2019-12-21 20:51] mghoneimy commented on #25
Hello @dankostov ,
I took a deeper look at your problem. Tried to reproduce the same scenario with a test API I use for validating the behavior of the package. I setup a very similar format to yours, an input object that contains an array provided as a variable. Unfortunately, everything worked well for me.

If the query is being constructed correctly and the variables are passed correctly, then I

[2019-12-21 21:37] dankostov commented on #25
Thanks, just saw that. I will review my code again, and try to debug it more.

Have a nice holidays!

[2019-12-22 08:57] #25 closed

[2019-12-24 14:32] marianpatak commented on #5
I tryinng to use your library but a canot simulate mutation with array  data

this is raw

        $gql = '
           mutation {
              login(input: {
                username: "myemail@email.com",
                password: "123456789qq"
              }) {
                access_token
                refresh_token
                expires_in
                token_type
                user {

[2020-02-10 10:43] chnshure opened #27 "Multiple Queries in one QueryObject"
Hi,

would it be possible to add the possibility to have multiple queries within one QueryObject?
Our API enables us to fetch multiple queries at once like this:

[code]

Maybe it is possible already and I just didn't get it.

[2020-02-11 09:50] mghoneimy commented on #27
@chnshure Hello,
Unfortunately it's not possible as of now to support multiple field selections in the same query, this is change scheduled for the next major release.
You can still run your query using this client though through running string queries on the server. You can refer to this section for that
https://github.com/mghoneimy/php-graphql-client#running-raw-queries.

Thank you!

[2020-03-10 15:12] jeroenhekihenk commented on #27
Hey @mghoneimy, what is the status on this? When is the next scheduled major release? Would like to see an enhancement as this.

[2020-03-10 21:23] mghoneimy commented on #27
@jeroenhekihenk I initially planned this release to be somewhere April, but now that I see that more people are asking for this, I can either move it sooner to March, or I can try to create a workaround to add support for this in a minor release and push the major release down the road.
I'll see what I can do keep you updated.

And I'm really glad you found this package useful, that's always great

[2020-03-21 22:03] mghoneimy commented on #27
Hi @jeroenhekihenk ,
I have taken a look at the changes needed today and decided that this will need breaking changes that will require a major version bump.
I will start working on the new changes in tye next few weekends, and hopefully, will have this issue close in v2.0 to be released mid-late April.

[2020-04-02 08:40] slepic opened #28 "ext-readline unused"
Why is ext-readline required by the package? The only occurence is in README.md in examples. But it is nowhere in the code of the library (or at least i could not find it).

[code]

[2020-04-04 18:32] #28 closed

[2020-04-04 18:34] mghoneimy commented on #28
@slepic  you were right, the extension wasn't used except in REAEDME.md, pull request merged!
Thank you for your contribution :smile:

[2020-05-10 11:58] #8 closed

[2020-05-11 10:45] jeroenhekihenk commented on #27
Hey @mghoneimy,

Been a while since you heard from me, but i have to ask, what is the status of this 'feature request' ? I've been using this package for a while now and notice that i need the feature to do 'double' queries at the same time.

[2020-05-13 23:18] mghoneimy commented on #27
Hi @jeroenhekihenk ,

Unfortunately, because of everything going on around us I wasn't able to start this on its planned time, I apologize for the delay. I expect to be able to allocate time for this during this weekend and the following week. Hopefully I should be able to update you on the status of the feature in a few days.

Thank you!

[2020-05-18 21:52] mghoneimy commented on #27
@chnshure @jeroenhekihenk
The feature has been successfully implemented and released on v1.5.
I was able to find clean way to do this without breaking backward compatibility.
You can now run multiple queries under one `Query` or `QueryBuilder` object.
Please refer to these sections of the documentation for help
https://github.com/mghoneimy/php-graphql-client#multiple-queries
https://github.com/mgh

[2020-05-18 21:52] #27 closed

[2020-06-09 05:52] chnshure opened #31 "AWS IAM Signed Requests"
Hey,
I'm asking myself if it would make sense to add the possibility to utilize AWS IAM signed requests in this package (optional).

I have a project currently where the authorization needs to happen with AWS SignatureV4 signing

[2020-06-11 08:45] bbaga opened #32 "Using PSR-18 interface instead of hard Guzzle dependency"
I was wondering whether you'd be willing to drop the hard dependency in Guzzle and make the HTTP client interchangeable. I know Guzzle is one of the (if not THE) most popular HTTP clients out there, but I'm not a big fan of the fact that most libraries will have a dependency on some specific version of Guzzle and it can be a pain in the neck to align the versions so everybody can be happy.

Lookin

[2020-06-11 18:09] chnshure commented on #31
Hey @mghoneimy
thanks for the reply and for looking into it.
After looking into it I also thought it might make more sense to not include this into this package directly. However I've forked your repo already and implemented it (quick 'n dirty) cause I needed it for AWS.
Unfortunately the SDK doesn't offer queries/mutations with GraphQL API's out of the box and I'm also a huge fan of this package.

[2020-06-11 18:09] #31 closed

[2020-06-11 21:31] mghoneimy commented on #32
Hi @bbaga ,

Let me take a look at the code tonight and let you know what I think tomorrow. But until I do I have a concern I'd like to hear your thoughts on. Do you think that this change will be backwards incompatible? Will the package need to be bumped up one major version after this?

[2020-06-11 22:42] mghoneimy commented on #32
I took a look at the code. The change can definitely be made to replace the hard dependency on GuzzleHttp to become a dependency the PSR-19 inerface, and it should be an easy one.

Modifications needed:
1. Modify the constructor to inject the client to be used to make the request
2. Modify the method invoked on the client class to use `sendRequest()` instead of the magical method `post()`
3. Remov

[2020-06-11 22:48] bbaga commented on #32
You just posted your update while I was typing this:

I'm cool with your plan, do you have a timeline/backlog for v2 release? 😉

[2020-06-11 23:05] mghoneimy commented on #32
I just wanted to note that to me, it seems like the constructor signature change is more of a backward compatibility problem than the composer file as we'll need to the users to start injecting their preferred HTTP client choice to the `GraphQL\Client` now opposed to earlier when the package used Guzzle by default. Let me know if I'm missing something here.

As for my v2 timeline, I have some tech

[2020-06-11 23:45] bbaga commented on #32
What I had in mind for the constructor is that we could add a new optional `$client` parameter for the PSR-18 client in the constructor, then when:
- `$client !== null` , use it as the client
- `$client === null && class_exists(\GuzzleHttp\Client::class)`, set a guzzle psr-18 adaptor class as the client
- else: throw an exception telling the users that they either have to provide a PSR-18 client o

[2020-06-12 00:10] mghoneimy commented on #32
Ah gotcha! I like this suggestion, it makes more sense than what I proposed earlier.

Will wait for your pull request when it's ready :v:

[2020-06-14 22:20] mghoneimy commented on #32
Hard dependency on Guzzle will be totally removed in the next major version release because it is backwards incompatible

[2020-06-24 21:26] Doqnach commented on #32
That is a very welcome change! Is there any timeline on this, since I'm currently working on a project that will hopefully use this package and would benefit greatly from this decoupling.

[2020-06-25 12:21] matasarei opened #34 "Drop an empty selection set"
Hello!

I suggest to remove an empty selection set from a final query.
For example:
[code]
generates the query:
[code]
which in my case causes an error:
[code]

Meanwhile, the next query works fine:
[code]

WDYT?

[2020-06-25 14:33] mghoneimy commented on #32
@Doqnach I don't have a strict timeline tied to this, but it's going to be included in the next major release as this change will lead to some backward incompatibly. Generally though, I would expect to have some time to work on the next major release within the next 2-3 months.
Hope this helps!

[2020-06-25 15:32] mghoneimy commented on #34
Hello @matasarei !

I do not see value in making such a change. This package was designed to mimic the way

[2020-06-25 15:36] mghoneimy commented on #34
Hello @matasarei !

I don't see value in making such a change. This package was designed to follow the spec of GraphQL, and by the standards, a selection set should be a list of selections, therefore it shouldn't be empty. I don't think that there's a case where the selection set would be empty in any form and a GraphQL server would return anything meaningul.

Check this link for reference and let

[2020-06-25 15:53] matasarei commented on #34
No problem. I'll just define another `Query` class for my case.

[2020-08-06 11:28] morticue commented on #34
The GraphQL spec allows for no selection sets on fields. It is defined as optional. See here
http://spec.graphql.org/June2018/#sec-Language.Fields

So this definition is valid, it requires that there is no selection set:

`isUserActive(id: Int!): Boolean!`

But the query object in the lib will produce the below query which is invalid, since it has an empty selection set. A selection set must not b

[2020-08-17 02:01] mghoneimy commented on #34
@morticue You are actually correct about this, I misinterpreted the spec in that area.

Let me work on fixing this.

[2020-09-08 06:56] eeromay opened #35 "Why is it necessary to provide the type of variable in client?"
Hi.

Why is it necessary to provide the type of variable in client via "new Variable()"?

The GraphQL server already defines which type is needed and throws an error if the type is not correct.

[2020-09-11 09:38] Joshgallagher opened #37 "Base URL?"
Great library!

However, I can not seem to find a way to add to the `base URL` I have set?

This is my client:

[code]

Is there a method to extend the URL without having to change it in the client - it limits its reusability.

Thanks in advance.

[2020-09-11 23:38] ShawnCorrigan commented on #32
Laravel 8 just came now out which now uses Guzzle ^7.0.1. Guzzle 7 implements PSR-18, so making this change would open up the possibility of using Guzzle 7 as well as Laravel 8.

I imagine a lot of people who use this package use it with Laravel, just based on the compatibility with Laravel (past versions) and the large amount of PHP developers who use Laravel. Would we expect to see changes that

[2020-09-14 16:12] ShawnCorrigan commented on #37
Right now there is no way to do this, a client will only use the endpoint url you used when you instantiated it. Usually you will make all your requests to the same GraphQL endpoint.

[2020-09-15 10:01] oneserv-heuser opened #39 "[FEATURE] Add option to make a GET request"
At the moment the request type is hardcoded to POST (see [here](https://github.com/mghoneimy/php-graphql-client/blob/072341ed65f643708456b947afa36e400fd2bf72/src/Client.php#L96)). Many applications don't cache POST requests, but only GET requests. For non sensitive data it's totally fine to use GET requests.

I'd propose to not hardcode the request method but instead add an option to set the metho

[2020-09-16 04:20] mghoneimy commented on #37
+1 to what @ShawnCorrigan said. Usually the GraphQL server runs on a single API endpoint. If there are multiple API endpoints this usually means that you have multiple GraphQL servers running with different specs, which makes instantiating different clients for them reasonable.

@Joshgallagher Can you describe the specific use case you are having trouble with please?

[2020-09-16 04:43] mghoneimy commented on #32
@ShawnCorrigan I'm not exactly against supporting Guzzle7, I just don't think it's worth the major version bump. I just posted my thoughts about https://github.com/mghoneimy/php-graphql-client/pull/36 in a comment. If we are able to resolve how we can merge that pull request without bumping the package up to the next major version, then I'm fine doing that while work is getting done on replacing g

[2020-09-16 04:52] mghoneimy commented on #35
Hi,

The `Variable` class acts as an abstraction layer between the package user and the GraphQL request string. You do not need to learn how to construct the variable syntax, just fill in the variable data and the package does the rest.

As for why the variable needs a type, the `Variable` class is used when defining a query, not while running one. If a query is already defined with a variable on

[2020-09-16 04:52] #35 closed

[2020-09-16 05:00] mghoneimy commented on #39
Hi @oneserv-heuser ,

I totally see your point, this a totally valid feature request.

While I agree with the need, I'm not sure if adding an extra parameter to the `runQuery` method is the best way to do this. I generally don't like it when methods have a long list of parameters and I don't want this method to move in this direction.

There are 2 options I see for implementing this:
1. The option

[2020-09-16 05:59] oneserv-heuser commented on #39
@mghoneimy I think adding another parameter is fine, especially when looking into the future with [PHP 8 Named Arguments](https://wiki.php.net/rfc/named_params). But I also like the idea of adding the parameter to the construct method of the client, as the downside of having one method per Client should be also no problem as you can just construct multiple Clients if needed.

I guess adding it as

[2020-09-16 06:34] oneserv-heuser commented on #39
@mghoneimy  Done, PR is open and ready for review.

[2020-09-17 00:58] #39 closed

[2020-09-18 19:10] #37 closed

[2020-10-15 10:32] oneserv-heuser opened #42 "GET requests not working"
I added the possibilty to make a GET request (https://github.com/mghoneimy/php-graphql-client/issues/39). But now I saw that i completly fucked it up. I'm so sorry for that.

GET requests cannot work as the query itself is never attached to the uri which has to happen of course if you want to make a GET request. If you try to execute a GET request at the moment you'll reveice the error `GraphQL Re

[2020-10-19 01:12] mghoneimy commented on #42
So there are a few things we need to do now:
1. Research how query parameters and variables are formatted in the query string in GET requests:
This library converts the query objects into JSON-like format used by GraphQL in POST request body. Because query URL parameters are formatted differently, we will need to reformat the generated body by the query objects into the query parameters format.
2.

[2020-10-19 08:44] oneserv-heuser commented on #42
@mghoneimy I don't know when I'm able to do so as it's very stressful at work at the moment. I'll try it as soon as I can.

[2020-10-26 07:36] oneserv-heuser commented on #42
@mghoneimy I don't think I'll be able to do it in the near future. Do we want to revert the GET feature for now until this issue is fixed?

[2020-10-31 21:07] #17 closed

[2020-11-09 16:08] elemke opened #43 "Multipart request"
How do I upload a file?

[2020-11-13 16:35] doctor4891 opened #44 "Subscription"
Please, add subscription to your graphql library

[2020-11-23 20:10] devrsingh2 opened #45 "Need to manage setSelectionSet for Array Set"
Hello Team,

I'm stucking with setSelectionSet for nested set, please check sample Query below:

`query {

  account {

    request_id
    complexity
    data {
      warehouses {
        id
        company_name
        address {
          name
          state
        }
      }

    }
 }

}`

[2020-11-30 10:30] oneserv-heuser commented on #42
@mghoneimy  Just started working on this. I've got a problem which I need input for.

When preparing the query for the GET request there is a problem with "\n". "\n" is all over the place and when appending the queryString to the url and passing this to the PSR7 Request object the method "parse_url" gets called which converts this to underscores (https://stackoverflow.com/a/283781/6137257). So for

[2020-12-04 19:23] chrisvoo commented on #45
Every time you have a type (so not a scalar), you have to create another `Query` instance, [like in the nested query example](https://github.com/mghoneimy/php-graphql-client#nested-queries).

[code]

[2020-12-21 15:04] #45 closed

[2021-01-20 18:16] dmouse opened #48 "PHP 8 support"
Im trying to install this package in a php 8 project but its not supported, do you know the status of compatibility with php 8?

[2021-02-02 16:46] aripringle opened #49 "Can't set string values beginning with $"
We have a case where attempting to run a mutation using string values that may begin with a dollar sign ($). I believe the library always treats strings like this as variables, so they're not encapsulated in quotes in the raw GraphQL query.

Running a mutation with arguments like this: `['item_name' => '$500 test value']`

The raw graphql ends up looking like:

[code]

Which results in this error:

[2021-02-03 14:53] alexandros-bantzos commented on #48
Do we have an ETA on the next version that'd support PHP 8? Thanks and keep up the good work!

[2021-02-03 22:19] dmouse commented on #48
probably just tag the new version of this package, if you look into the composer.json in the master branch the php 8 support are there

[2021-02-07 16:12] mghoneimy commented on #48
Issue has been fixed with v1.9 release
https://github.com/mghoneimy/php-graphql-client/releases/tag/v1.9

[2021-02-07 16:12] #48 closed

[2021-02-07 16:17] mghoneimy commented on #42
Can you please provide with a link to a GraphQL server that receives responses in GET requests?

[2021-02-08 00:05] mghoneimy commented on #49
Issue has been fixed in release 1.9.1
https://github.com/mghoneimy/php-graphql-client/releases/tag/1.9.1

[2021-02-08 00:05] #49 closed

[2021-02-08 01:27] mghoneimy commented on #42
For the time being, users were prevented form being able to use any request type other than "POST" with release 1.9.2
https://github.com/mghoneimy/php-graphql-client/releases/tag/v1.9.2

Let's work on a pull request to enable GET requests in the mean time

[2021-02-09 07:43] oneserv-heuser commented on #42
@mghoneimy No, unfortunately I cannot provide a link as our API we're using this package for is under development and internal.

Well, what are your thoughts on the issue I described before?

[2021-02-24 17:06] nealoke opened #50 "No QueryBuilder that can be a mutation?"
We have the option to use the `QueryBuilder` for queries, why not for a mutation? :)

[2021-03-12 18:36] arielcannal opened #54 "Mutation with Array Levels"
Hi!
How could I use the classes to set up a request like the one below?

[code]

[2021-03-12 18:37] arielcannal opened #55 "Mutation with Array Levels"
Hi!
How could I use the classes to set up a request like the one below?

[code]

[2021-03-14 04:00] mghoneimy commented on #55
Close as duplicate of #54

[2021-03-14 04:00] #55 closed

[2021-03-14 04:28] mghoneimy commented on #50
Hi @nealoke
It just wasn't a priority then. It should be very simple to add one though, I can prioritize it

[2021-03-14 04:38] mghoneimy commented on #54
I think that you have a syntax error in this mutation. I think that you are missing commas between the product objects.
Other than that, this mutation is basically on level mutation with
1. operation name of `createResponse`
2. multiple arguments
3. one of the arguments is a json-like array of objects, which will require being wrapping in a `RawObject`
4. simple list of selected fields

Please ref

[2021-03-14 04:38] #54 closed

[2021-03-14 04:39] mghoneimy commented on #43
being addressed by #53

[2021-03-22 01:27] mghoneimy commented on #50
This is issue is addressed by v1.10 (https://github.com/mghoneimy/php-graphql-client/releases/tag/v1.10)

[2021-03-22 01:27] #50 closed

[2021-04-09 15:11] greg-burgoon opened #56 "Please add Union support to your graphql library"

[2021-04-22 07:20] ammaramame opened #57 "nested level of arguments bug"
There some issue when i try to query data with nested level of filters for example

`farmsByFarmerId: {aggregates: {distinctCount: {id: {equalTo: "3"}}}}`

it through array to string conversion error

could you please check it .

[2021-06-10 10:30] viktor-zinchenko opened #59 "Add support for AWS IAM authorization"
The idea is to add AWS IAM authorization support, so the client could be used with AWS appsync using this auth method.
Select auth type method (with header, request signing, etc.) could be used.

AWS php sdk would be useful for signing request. Signing code example:
[code]

@mghoneimy what do you think about it? I could prepare PR shortly if you are fine with this feature.

[2021-06-10 15:01] skwashd commented on #56
#58 looks like an implementation of this feature request.

[2021-06-14 20:27] kirkmadera opened #60 "Namespace conflict with webonyx/graphql-php"
`webonyx/graphql-php` is a popular PHP GraphQL server library. I was going to use this module until I discovered that it uses the namespace GraphQl and directly conflicts with `webonyx/graphql-php`. Any plans to put this under a namespace like `MGhoneimy\GraphQl\`? This is the only way I could use this module.

[2021-06-14 22:11] kirkmadera commented on #60
I figured out that it happens to work, so long as there are no class naming conflicts. I am only using this as a temporary solution to proxy a middleware until I can replace all GraphQL calls, so this is acceptable. I do think it would make sense to prefix the namespace though. Assuming ownership of `\GraphQl` makes this not play nice with other libraries. To be honest, `webonyx/graphql-php` is do

[2021-06-24 23:35] xaviered commented on #60
@kirkmadera if you want, you can get started with the PRs I just merged on my fork.
@mghoneimy feel free to merge to your repo if you'd like. Wasn't sure what vendor name to pick, so I used the one on packagist.org

[2021-07-05 15:38] paianoa opened #62 "Client.php, line 122: Call to undefined function GuzzleHttp\\Psr7\\stream_for()"
Line 122:
` $request = $request->withBody(Psr7\stream_for(json_encode($bodyArray)));`

Should be changed to:
`
 $request = $request->withBody(Psr7\Utils::streamFor(json_encode($bodyArray)));`

[2021-07-08 12:10] PierreGranger commented on #62
Same here, after a composer update i've got the same issue.
The update shared by @paianoa resolves the issue.

[2021-07-18 21:44] mghoneimy commented on #62
Addressed by #61

[2021-07-18 21:44] #62 closed

[2021-07-18 21:46] mghoneimy commented on #57
In this case you will have to use the `RawObject` class

Example: https://github.com/mghoneimy/php-graphql-client#query-with-input-object-argument

[2021-07-18 21:46] #57 closed

[2021-07-19 05:22] marlexladag opened #63 "Argument 1 passed to GuzzleHttp\Client::send() must be an instance of GuzzleHttp\Message\RequestInterface"
Type error: Argument 1 passed to GuzzleHttp\Client::send() must be an instance of GuzzleHttp\Message\RequestInterface, instance of GuzzleHttp\Psr7\Request given, called in /var/www/html/modules/solarreseller/vendor/gmostafa/php-graphql-client/src/Util/GuzzleAdapter.php on line 41

[2021-07-22 21:08] carlosolivas opened #65 "Empty string mutation variables handled as null"
Hello, I think there is a problem on how empty strings are handled, they are sent as null to the server.

This is the inout I'm sending:
[code]
Which generates the following request:

[code]
But I'm getting this error from the server:

Expected non-nullable type String! not to be null at value.settings.syncWithoutDetaching[0].value.

I hope you can help me

Thanks

Carlos

[2021-07-26 03:33] mghoneimy commented on #56
Closed by #58

[2021-07-26 03:33] #56 closed

[2021-07-26 04:01] mghoneimy commented on #65
Hello,
Are you passing variables along with the query when you run it on the server using the client?

[2021-07-26 04:05] mghoneimy commented on #63
Hello,
What version of guzzle are you using?

[2021-07-26 14:06] carlosolivas commented on #65
Yes, I am. The problem is when variables have empty string values, they are sent to the GraphQL server as null.

This is the function I use to construct the mutation and set variables:

[code]

[2021-08-03 01:41] mghoneimy commented on #63
I will be closing this issue as I really don't understand how it happened.
This package supports versions ^6.3|^7.0.1 of guzzle which have the ClientInteface requiriing `Psr\Http\Message\RequestInterface` in the `send()` method.
The error reported here means that the guzzle version used in your application is below the required one.

[2021-08-03 01:41] #63 closed

[2021-08-03 03:31] mghoneimy commented on #65
I have personally tested this to verify the behavior and I can assure you that the package does not convert empty strings into nulls when converting `variables` parameter to json before sending the request to the API server.

Also, for reference, this is where the conversion happens:
https://github.com/mghoneimy/php-graphql-client/blob/master/src/Client.php#L122

The package uses the `json_encode`

[2021-08-03 03:31] #65 closed

[2021-08-04 02:29] mghoneimy commented on #60
Hi @kirkmadera ,
While you are completely correct about this, making such a change to the namespaces would break usage for all clients which is not acceptable, and to be honest, I haven't had many complaints about this.
So here's what I think I should do:
1. Keep this as it is for the time being to maintain backward-compatibility
2. Modify the namespaces for V2.0 since it's going to be backwards i

[2021-08-04 20:17] kirkmadera commented on #60
Definitely makes sense to make a change like this in a major version change. This is functional at the moment with sharing the same namespace because there are not any class name conflicts as far as I have seen. When/if you do push a 2.x with a namespace change, we will be able to migrate to it.

[2021-08-16 18:21] kirkmadera opened #67 "Array arguments string conversion bug"
We noticed an "Array to string conversion" bug with some of our queries. Not sure if we made the right fix, but we ended up overriding a few classes in order to fix.

`GraphQl\Query::constructArguments`:
![image](https://user-images.githubusercontent.com/1686495/129613188-c9232b04-e17c-4e7d-802d-f7637a51900a.png)

`GraphQL\Util\StringLiteralFormatter`:

Added these methods:
[code]

Not sure if thi

[2021-08-24 09:04] SoftrainHere opened #68 "How to suppress 'Member has protected visibility'"
Hi guys
I am going to use this package in my laravel 8 project like below...

$builder = (new QueryBuilder('tags'))
      ->setArgument('first', 10)
      ->setArgument('page', 1)
      ->selectField('id')
      ->selectField('name');

but my phpStorm is telling me like this

![제목 없음](https://user-images.githubusercontent.com/88357269/130589216-150cab6e-5247-4b2f-8623-3f2bb6d48245.png)

Can someon

[2021-09-28 15:05] mghoneimy commented on #59
Closed by #64

[2021-09-28 15:05] #59 closed

[2021-12-05 20:35] potasiyam opened #70 "Support for response with both errors and data"
According to spec (http://spec.graphql.org/October2021/#sec-Errors.Error-result-format), GraphQL response can contain both errors and data at the same time. With current implementation this package throws the `QueryError` exception which only contains the first error details. So, right now there is no way to access the data that came with the error response.
The constructor of `QueryError` excepti

[2022-01-21 18:09] wucdbm opened #72 "JSON decode failures"
Hey,

We've been experiencing the following issue: `array_key_exists(): Argument #2 ($array) must be of type array, null given`

It seems that for whatever reason, the server on the other end (well outside of our control) is flaky and every now and then would fail. Then, trying to json_decode fails and null is returned in the constructor of `Results`, so array_key_exists then fails.

I'd suggest u

[2022-01-27 03:09] developmentEngine commented on #68
@seokman-hong
![image](https://user-images.githubusercontent.com/50313993/151285174-b3092585-66b3-4329-93e8-4fe37b1cbb4d.png)

[2022-02-19 15:42] faridmovsumov opened #73 "Trying to implement login mutation [Sorare]"
Hello, I am trying to build a query for the following mutation, already spent hours but something is wrong.

<img width="498" alt="image" src="https://user-images.githubusercontent.com/1541412/154807746-9eab32cc-399a-480e-9dda-7b09a3a8f769.png">

This is my code

<img width="1011" alt="image" src="https://user-images.githubusercontent.com/1541412/154807831-64a3dee9-059c-474e-8b6d-495b4f1b658e.png"

[2022-02-19 15:43] faridmovsumov commented on #73
I am getting the following response

<img width="684" alt="image" src="https://user-images.githubusercontent.com/1541412/154807944-01c99676-b905-4272-9cfe-8d8a5c30a421.png">

[2022-02-19 15:53] faridmovsumov commented on #73
Pasting also my code to make it easier to help :D

[code]

[2022-03-24 03:34] wucdbm commented on #72
Is anyone supporting this?

[2022-03-29 07:22] MarcoCazzaro opened #74 "Printing raw query for debugging"
Hi! Given a populated Query or QueryBuilder object, is it possible to print the raw query that generated the request?
E.G.:

    $builder = (new QueryBuilder('pokemon'))
        ->setArgument('name', 'Pikachu')
        ->selectField('id')
        ->selectField('name')
        ->selectField(
            (new QueryBuilder('attacks'))
                ->selectField(
                    (new QueryBuild

[2022-04-12 01:19] omarherri commented on #74
I think you can achieve this easily with this command:

`$builder->__toString();`

[2022-04-12 06:12] MarcoCazzaro commented on #74
I'm afraid that command will just print the graphical representation of the PHP class, not the GraphQL code we can use in an external tool.

[2022-04-12 13:55] omarherri commented on #74
No i tested this. it shows the current query generated by your builder. Just give it a try.

[2022-04-12 15:19] MarcoCazzaro commented on #74
I got this error:

    PHP Fatal error:  Uncaught Error: Call to undefined method GraphQL\QueryBuilder\QueryBuilder::__toString()

[2022-04-13 01:36] omarherri commented on #74
I see because you are using QueryBuilder. This is an example i'm using right now:

[code]

[2022-04-15 08:03] MarcoCazzaro commented on #74
Yeah I am using QueryBuilder widely in my setup, so I'd need this feature for QueryBuilder as well. Of course it's a "nice to have". ;)

[2022-05-06 09:54] acamenhas opened #75 "Update Mutation"
Hello,

I didnt see any example or test for a update mutation, how can be implemented this mutation:

`
mutation MyMutation {
  update_users(where: {id: {_eq: 1}}, _set: {name: "My name"}) {
    affected_rows
  }
}
`

Thank you

[2022-07-02 16:57] VadimNowo commented on #75
I guess you just need to nest queries like:

`->setSelectionSet(
                [
                    (new Query('collection'))
                        ->setSelectionSet(
                            [
                                'id',
                                'title',
                                'descriptionHtml',
                                'handle',

[2022-07-19 11:54] jaseyd opened #76 "Trying to produce mutation with nesting"
Hi there. I'm trying to produce the following mutation with this library:

`mutation {
	purchaseOrders {
		accept (
			poNumber: "TEST_94736163",
			shipSpeed: GROUND,
			lineItems: [
				{
					partNumber: "JE10394E",
					quantity: 1,
					unitPrice: 9.99,
					estimatedShipDate: "2022-07-13 11:07:03.000000 -04:00"
				}
			]
		) {
			handle,
			submittedAt,
			errors {
				key,
				message
			}

[2022-07-21 08:28] jaseyd commented on #76
Resolved this issue in the end. Marking as closed. Solution below for reference:

`(new GraphQL\Mutation('purchaseOrders'))->setVariables([new \GraphQL\Variable('poNumber', 'String', true), new \GraphQL\Variable('shipSpeed', 'ShipSpeed', true), new \GraphQL\Variable('lineItems', '[AcceptedLineItemInput!]', true)])->setSelectionSet([(new \GraphQL\Query('accept'))->setArguments(['poNumber' => '$poNu

[2022-07-21 08:28] #76 closed, assigned to nobody

[2022-08-18 23:52] #72 closed, assigned to nobody

[2022-09-27 10:13] longmtran opened #77 "Support request: How to build query for enum __type in schema"
Hi,

I'm trying to convert this raw query to retrieve the list of enumValues in schema, but couldnt figure out how:

[code]

The enum in schema is:
[code]

I tried a few combination but cant get it to work, here is one example:

[code]

Does anyone know how to do this in Query object instead of raw query?

Thanks!

[2022-09-28 15:12] longmtran commented on #77
Nvm, I found the issue, `'name' => new RawObject('Types'),` should be `'name' => 'Type',`

[2022-09-28 15:12] #77 closed, assigned to nobody